CH341EVT\CH341PAR\VC\.vs\CH341PAR\v17
CH341EVT\CH341PAR\VC\Debug\
CH341EVT\CH341PAR\VC\.vs\
CH347EVT\EVT\TOOLS\CH347Demo\Debug
CH347EVT\EVT\TOOLS\CH347Demo\.vs

CH341EVT/CH341PAR/VC/.vs/CH341PAR/v17
CH341EVT/CH341PAR/VC/Debug/
CH341EVT/CH341PAR/VC/.vs/
CH347EVT/EVT/TOOLS/CH347Demo/Debug
CH347EVT/EVT/TOOLS/CH347Demo/.vs